{% extends 'base.html' %}
{% block content %}
        <!-- Masthead-->
        <header>

        <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-black">
                            <!-- Page heading-->
                            <h1 style= "color: black";>Tournament Generator</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            
                            <form method="Post" action="{% url "league" %}">
                                {% csrf_token %}
                                
                                <div class="row">

                                    <div class="col">
                                        <label for="name">Tournament Name:</label> 
                                        <input class="form-control form-control-lg" id="name" name="name" placeholder="Tournament Name">
                                    </div>
                                        
                                    
                                    <div class="row">
                                        <div class="col">
                                            <label for="team1">Team 1:</label>
                                            <select name="team1" id="team1" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 1:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    
                                    
                                        <div class="col">
                                            <label for="team2">Team 2:</label>
                                            <select name="team2" id="team2" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 2:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label for="team3">Team 3:</label>
                                            <select name="team3" id="team3" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 3:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    
                                    
                                        <div class="col">
                                            <label for="team4">Team 4:</label>
                                            <select name="team4" id="team4" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 4:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label for="team5">Team 5:</label>
                                            <select name="team5" id="team5" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 5:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    
                                    
                                        <div class="col">
                                            <label for="team6">Team 6:</label>
                                            <select name="team6" id="team6" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 6:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label for="team7">Team 7:</label>
                                            <select name="team7" id="team7" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 7:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    
                                    
                                        <div class="col">
                                            <label for="team8">Team 8:</label>
                                            <select name="team8" id="team8" class="form-control form-control-lg">
                                            <optgroup label="Teams">
                                                <option value="">Select Team 8:</option>  
                                                {% for i in team %}
                                                    <option value="{{i.id}}">{{i.team_name}}</option>  
                                                {% endfor %}
                                                
                                            </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                
                                </div>

                                <br></br>
                                
                                <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit" >Submit</button></div>
                                
                                
                                
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
        </header>
       
{% endblock %}
