{% extends 'base.html' %}
{% block content %}
        <!-- Masthead-->
        <header>

        <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-black">
                            <!-- Page heading-->
                            <h1 style= "color: black";>Teams</h1>
                            
                        </div>
                        <br><br>
                        <div class="container">
                            {% for i in team %}
                            <p>
                                <div class="row">
                                <div class="col">
                                <h2>{{ i.team_name }}
                                </div>
                                <div class="col">
                                    <a class="btn btn-primary" href="{% url 'team_members' team_id=i.id %}">View Team Members</a>
                                </div>
                                <div class = "col">
                                    <a class="btn btn-primary" style="background-color: red; border-color:red" href="{% url 'delete_team' team_id=i.id %}" onclick="return confirm('Are you sure you want to delete {{i.team_name}}?');">Delete Team</a>
                                </div>
                                </h2>
                                </div>
                            </p>
                            {% endfor %}
                            <div class="col">
                                <div class="row">
                                    <a class="btn btn-primary" href="{% url 'add_team' %}">Add a Team</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
           
        </header>
       
{% endblock %}
